<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SPH</title>
        <link rel="stylesheet" type="text/css" href="static/css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>

    <script>
        function foodpath() {
        var question= $('#question').val();
        $.ajax({
                    url: "/foodpath",
                    type: "POST",
                    data: {question:question}

                }).done(function(response) {

                    var html= "<br><br><br><p> <b> RESULT : <b><p>";

                    response =response.result;
                        $.each(response,function(key,val){
                        console.log(val);
                            html+="<p>"+val+"<p>"

                        });
                        html +="<br>";
                        $(".show-data").replaceWith(html);
                    });
        };

        function scholar() {
        var question= $('#question').val();
        $.ajax({
                    url: "/scholar",
                    type: "POST",
                    data: {question:question}

                }).done(function(response) {

                    var html= "<br><br><br><p> <b> RESULT : <b><p>";

                    response =response.result;
                        $.each(response,function(key,val){
                        console.log(val);
                            html+="<p>"+val+"<p>"

                        });
                        html +="<br>";
                        $(".show-data").replaceWith(html);
                    });
        };

        function newspaper() {
        var question= $('#question').val();
        $.ajax({
                    url: "/newspaper",
                    type: "POST",
                    data: {question:question}

                }).done(function(response) {

                    var html= "<br><br><br><p> <b> RESULT : <b><p>";

                    response =response.result;
                        $.each(response,function(key,val){
                        console.log(val);
                            html+="<p>"+val+"<p>"

                        });
                        html +="<br>";
                        $(".show-data").replaceWith(html);
                    });
        };
    </script>

    <body >
        <h1>Welcome to SPH - Scientific Purpose Harvester</h1>
        <p>
            After entering your scientific Question, the Harvester crawl the WWW for the best results!<br>
            Please be a bit patient with the software ... it may take some seconds to respond :)<br><br>
                Your Quenstion:  <input type="text" id="question" name="question" ><br><br>
                <button id="foodpath" class="glow-on-hover" onclick="foodpath()">Let's go on foodpath</button>
                <button id="" class="glow-on-hover" onclick="newspaper()">Let's go on newspaper</button>
                <button id="" class="glow-on-hover" onclick="scholar()">Let's go on scholar</button>
                <a href="{{ url_for('home') }}"><button class="glow-on-hover">Refresh</button></a>
            </p>
        <div class="show-data" >

        </div>
    </body>

</html>